* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  height: 100px;
}

li {
  float: left;
}

.search input{
  position: absolute;
  top: 35px;
  left: 35%;
  width: 35%;
  height: 40px;
}

img {
  position: absolute;
  top: 45px;
  left: 68%;
  width: 20px;
}

.link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  top: 28px;
  font-size: 18px;
  font-family: 'Stick',
  sans-serif;
}


.logo {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
font-size: 25px;
background-color: #dc3d50;
padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
  font-family: 'Akaya Telivigala',
  cursive;
}

li a:hover:not(.logo) {
transform:scale(1.2, 1.2);
height: 100px;
  width: 100px;
}

.sidebar p {
  float: right;
  position: relative;
  top: -55px;
  right: 20px;
  color: whitesmoke;
  text-transform: uppercase;
}

.cart p {
  color: whitesmoke;
  text-transform: uppercase;
  float: right;
  position: relative;
   top: -35px;
   right: -150px;
}

 .fas {
  font-size: 20px;
  padding-left: 10px;
}

.welcome  {
  height: 80vh;
  background-image: url('welcome.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  width: 100%;
  height: 87px;
  background-color: black;
}




